<!DOCTYPE html>
<head>
    <title>recipe_login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
</head>
<body>
    <div class='body-wrapper'>
        <div class='login_div'>
            <form action='/user_prf' method='POST'>
                <table>
                    <tr>
                        <td><label for="login_id">ID</label></td>
                        <td><input type='text' id='login_id' name='login_id'></td>
                    </tr>
                    <tr>
                        <td><label for="login_pwd">Password</label></td>
                        <td><input type='password' id='login_pwd' name='login_pwd'></td>
                    </tr>
                    <tr>
                        <td colspan='2' style="text-align:center"><button type='submit' class='login_btn'>Login</button></td>
                    </tr>
                </table>
            </form>
        </div>
        <footer>
            <div id='footer_box'>
                <br><br><br><br><br><br>
                <p class='footer_font'>© 2022 Copyright : 서울여자대학교 빅데이터분석및활용 &lt;‘만개의 레시피’ 데이터를 활용한 추천 시스템
                    - 레시피와 리뷰를 중심으로 -&gt;</p>
            </div>
        </footer>
    </div>
</body>
</html>