<!DOCTYPE html>
<head>
    <title>편스토랑 검색결과</title>
    <link rel="stylesheet" href="../static/css/search1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div class='center_frame'>
        <div class="menu_frame">
            <input class="menu_button" id='home' name='menu_btn' type="submit" value="홈" onclick="location.href='user_prf'"> <!-- onclick="changeHome()" -->
            <input class="menu_button" id='recommend' name='menu_btn' type="submit" value="추천레시피">
            <input class="menu_button" id='search' name='menu_btn' type="submit" value="검색" onclick="location.href='main'">
            <input class="menu_button" id='logout' name='menu_btn' type="submit" value="로그아웃" onclick="location.href='login'">
        </div>
        <div class='search_title'><b>편스토랑</b> 을 검색한 결과입니다.</div>
        <div class='search_mini_title'>편스토랑 을 언급한 레시피</div>
        <div class='recommend_recipes'>
            <div class='recommend_padding'>
                <a href="https://www.10000recipe.com/recipe/6956898">
                    <div class='recommend_box'>
                        <img class='recommend_recipe_img' src='https://recipe1.ezmember.co.kr/cache/recipe/2021/04/13/017f669dc8d83e657d2ca627734659831.jpg'>
                        <div class='recommend_recipe_summary'>
                            <div class='title'>어남선생 류수영의 무전 & 감자스프 & 잔치국수 만들기</div>
                            <div class='hashtag_space'>
                                <span class='hashtag_box'>#편스토랑</span>
                                <span class='hashtag_box'>#류수영</span>
                                <span class='hashtag_box'>#잔치국수</span>
                                <span class='hashtag_box'>#감자스프</span>
                                <span class='hashtag_box'>#무전</span>
                            </div>
                            <div class='views'><i class="fa fa-eye"></i> 24,388</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class='recommend_padding'>
                <a href="https://www.10000recipe.com/recipe/6968283">
                    <div class='recommend_box'>
                        <img class='recommend_recipe_img' src='https://recipe1.ezmember.co.kr/cache/recipe/2021/11/06/2b5676bec4be45eb8063594492353fc01.jpg'>
                        <div class='recommend_recipe_summary'>
                            <div class='title'>하이라이스 넣은 메츄리알장조림</div>
                            <div class='hashtag_space'>
                                <span class='hashtag_box'>#편스토랑</span>
                                <span class='hashtag_box'>#박솔미레시피</span>
                                <span class='hashtag_box'>#메추리알장조림</span>
                                <span class='hashtag_box'>#밑반찬</span>
                                <span class='hashtag_box'>#아이들반찬</span>
                                <span class='hashtag_box'>#메추리알쉽게까는방법</span>
                            </div>
                            <div class='views'><i class="fa fa-eye"></i> 1,162</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class='recommend_padding'>
                <a href="https://www.10000recipe.com/recipe/6956690">
                    <div class='recommend_box'>
                        <img class='recommend_recipe_img' src='https://recipe1.ezmember.co.kr/cache/recipe/2021/04/12/9186247e6e27f292d8bcbc8daac398d71.jpg'>
                        <div class='recommend_recipe_summary'>
                            <div class='title'>반찬인가?! 안주인가?! 어남선생의 후라이드멸치 따라만들기!</div>
                            <div class='hashtag_space'>
                                <span class='hashtag_box'>#멸치볶음</span>
                                <span class='hashtag_box'>#후라이드멸치</span>
                                <span class='hashtag_box'>#류수영</span>
                                <span class='hashtag_box'>#멸치볶음</span>
                                <span class='hashtag_box'>#편스토랑</span>
                                <span class='hashtag_box'>#초간단</span>
                            </div>
                            <div class='views'><i class="fa fa-eye"></i> 32,245</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class='recommend_padding'>
                <a href="https://www.10000recipe.com/recipe/6968282">
                    <div class='recommend_box'>
                        <img class='recommend_recipe_img' src='https://recipe1.ezmember.co.kr/cache/recipe/2021/11/06/d28ede5bccd13505c4b57297f4ce57021.jpg'>
                        <div class='recommend_recipe_summary'>
                            <div class='title'>편스토랑 박솔미 멸치볶음 만드는 법</div>
                            <div class='hashtag_space'>
                                <span class='hashtag_box'>#편스토랑</span>
                                <span class='hashtag_box'>#박솔미레시피</span>
                                <span class='hashtag_box'>#멸치볶음</span>
                                <span class='hashtag_box'>#멸치조림</span>
                                <span class='hashtag_box'>#마요멸치</span>
                                <span class='hashtag_box'>#초간단</span>
                            </div>
                            <div class='views'><i class="fa fa-eye"></i> 5,921</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class='search_mini_title'>편스토랑과 유사한 <b>어묵</b> 과 관련된 레시피</div>
        <div class='recommend_recipes'>
            <div class='recommend_padding'>
                <a href="https://www.10000recipe.com/recipe/4134696">
                    <div class='recommend_box'>
                        <img class='recommend_recipe_img' src='https://recipe1.ezmember.co.kr/cache/recipe/2015/06/22/782fd4ad295beb35ad7da5896e41081d.jpg'>
                        <div class='recommend_recipe_summary'>
                            <div class='title'>콩나물 어묵 볶음</div>
                            <div class='hashtag_space'>
                                <span class='hashtag_box'>#콩나물</span>
                                <span class='hashtag_box'>#어묵</span>
                                <span class='hashtag_box'>#볶음</span>
                                <span class='hashtag_box'>#어묵볶음</span>
                                <span class='hashtag_box'>#심신안정</span>
                                <span class='hashtag_box'>#안면홍조</span>
                            </div>
                            <div class='views'><i class="fa fa-eye"></i> 83,973</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class='recommend_padding'>
                <a href="https://www.10000recipe.com/recipe/6964506">
                    <div class='recommend_box'>
                        <img class='recommend_recipe_img' src='https://recipe1.ezmember.co.kr/cache/recipe/2021/09/03/33591c187e7d361aca63ce7113850f741.jpg'>
                        <div class='recommend_recipe_summary'>
                            <div class='title'>[어묵감자볶음 만드는 법]짭조름 쫄깃 밥도둑 밑반찬 제철 반찬</div>
                            <div class='hashtag_space'>
                                <span class='hashtag_box'>#어묵감자볶음</span>
                                <span class='hashtag_box'>#감자어묵볶음</span>
                                <span class='hashtag_box'>#어묵</span>
                                <span class='hashtag_box'>#감자</span>
                                <span class='hashtag_box'>#볶음</span>
                                <span class='hashtag_box'>#밥도둑</span>
                            </div>
                            <div class='views'><i class="fa fa-eye"></i> 2,708</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class='recommend_padding'>
                <a href="https://www.10000recipe.com/recipe/6900114">
                    <div class='recommend_box'>
                        <img class='recommend_recipe_img' src='https://recipe1.ezmember.co.kr/cache/recipe/2018/11/14/aa03fc2cafdbe705dc620a46ae61ca151.jpg'>
                        <div class='recommend_recipe_summary'>
                            <div class='title'>간단반찬 어묵청경채볶음</div>
                            <div class='hashtag_space'>
                                <span class='hashtag_box'>#간단반찬</span>
                                <span class='hashtag_box'>#어묵</span>
                                <span class='hashtag_box'>#청경채</span>
                                <span class='hashtag_box'>#아이반찬</span>
                                <span class='hashtag_box'>#어묵볶음</span>
                                <span class='hashtag_box'>#어묵청경채볶음</span>
                            </div>
                            <div class='views'><i class="fa fa-eye"></i> 14,325</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class='recommend_padding'>
                <a href="https://www.10000recipe.com/recipe/6894217">
                    <div class='recommend_box'>
                        <img class='recommend_recipe_img' src='https://recipe1.ezmember.co.kr/cache/recipe/2018/08/15/d354abd34237f93c3eb056c62dc549091.jpg'>
                        <div class='recommend_recipe_summary'>
                            <div class='title'>어묵계란마요</div>
                            <div class='hashtag_space'>
                                <span class='hashtag_box'>#어묵</span>
                                <span class='hashtag_box'>#마요네즈</span>
                                <span class='hashtag_box'>#다이어트</span>
                                <span class='hashtag_box'>#어맥</span>
                            </div>
                            <div class='views'><i class="fa fa-eye"></i> 741</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>