@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    background-color: rgb(198, 201, 252);
}

.login_div {
    width: 100%;
    height: 70%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
}
.login_div label{
    font-size: 17px;
    font-family: 'GmarketSansMedium';
    padding: 0 15px;
}
.login_div input {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    width: 250px;
    height: 23px;
    font-size: 15px;
    border-color: rgb(160, 160, 160);
}
.login_div table {
    height: 140px;
}
.login_btn {
    width: 60px;
    height: 40px;
    font-family: 'GmarketSansMedium';
}